<div class="container text-center text-white">
  <h1>Transaction App</h1>
  <h2>Sign In</h2>
</div>
<%= form_with url: sign_in_path do |form| %>
  <%= form.label :name, class: "text-white"%>
  <%= form.text_field  :name, class: "form-control" %>
  <%= link_to 'Please Sign Up -->', sign_up_path, class: "text-success text-decoration-none" %>
  <%= form.submit "Sign In", class: 'btn btn-success form-control'%>
<% end %>