
<div class="col s12">
  <div class="card horizontal left-align">
    <div class="card-stacked">
      <div class="card-content">

        <h2>Resend confirmation instructions</h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <br/>
          <br/>
          <%= f.submit 'Resend confirmation instructions', class:'btn waves-effect waves-light center' %>

        <% end %>

      </div>
      <div class="card-action center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
