
<div class="col s12">
  <div class="card horizontal left-align">
    <div class="card-stacked">
      <div class="card-content">

        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :profile_pic %><br />
            <%= f.file_field :profile_pic %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

            <% if @minimum_password_length %>
              <br />
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password (#{@minimum_password_length} characters minimum) (leave blank if you don't want to change it)" %>
            <% end %>

            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password' %>

            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Current Password (we need your current password to confirm your changes)' %>

            <%= f.submit "Update", class:'btn waves-effect waves-light center' %>

          <% end %>
       </div>
      <div class="card-action center">
        <h4>Cancel my account</h4>
        <p>Unhappy?
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn waves-effect waves-light center' %>
        </p>
        <%= link_to '<i class="small material-icons white-text">arrow_back</i>'.html_safe, :back , class: 'btn waves-effect waves-light'%>
      </div>
    </div>
  </div>
</div>
