<div class="container text-center text-white">
  <h1>Create A Group</h1>
</div>
<%= form_with model: @groups, url: create_group_path do |form| %>
  <% if @groups.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @groups.errors.full_messages.each do |message|%>
        <div><%= message %></div>
      <%end%>
    </div>
  <% end %>
  <%= form.label :name, class: "text-white" %>
  <%= form.text_field :name, class: "form-control" %>
  <%= form.label :icon, class: "text-white" %>
  <%= form.text_field :icon, class: "form-control" %>
  <%= form.number_field :user_id, value: Current.user.id, type: :hidden %>
  <%= form.submit class: "btn btn-success form-control mt-2" %>
<% end %>
