<div class='py-5 container-fluid bg-primary d-flex justify-content-center'>
  <h2>Group Transaction</h2>
</div>
<div class="d-flex bg-light justify-content-between">
  <p class="px-2 py-3">Total Transaction: <%= @count %></p>
</div>
<% @group_transaction.each do |transactions| %>
  <div class="container border border-white my-2">
    <div class="d-inline-block w-25 text-white">
     <%= image_tag('transactions.png', :class => "h-100 w-100") %>
    </div>
    <div class="d-inline-block w-50 p-2 text-white">
      <p><%= transactions.name %></p>
      <p><%= transactions.created_at %></p>
    </div>
    <div class="d-inline-block text-white">
     <p>$<%= transactions.amount %></p>
    </div>
  </div>
<% end %>