<%= provide(:title, 'External transactions') %>
<div class='p-4'>
<h5 class='my-3'>Total amount: <%= number_to_currency(@exp_sum) %></h5>
    <% @external_payments.each do |t| %>
    <div class='list-group mt-3'>
        <div class='list-group-item list-group-item-action'>
            <div class='d-flex justify-content-between align-items-center'>
                <div class='d-flex align-items-center'>
                   <h5 class='ml-2'> <%=  t.name %></h5>
                </div>
                <h5><%= number_to_currency(t.amount) %></h5>
            </div>
            <hr>
            
            <div class='d-flex justify-content-between'>
              <div>
                <%= link_to icon("trash", class: "text-danger main__icon"), t, method: :delete, data: { confirm: 'Are you sure' } %>
                <%= link_to icon("arrow-repeat", class: "text-success main__icon"), edit_payment_path(t)  %>
              </div>
              <span><%= t.created_at.strftime("%d %B %Y") %></span>
            </div>
        
        </div>
    </div>
<% end %>

<%= link_to 'Add new', new_payment_path, class: 'btn btn-primary btn__sign my-3' %>
<div class='d-flex justify-content-between align-items-center'>
    <%= link_to icon("arrow-left-square", class: "text-danger main__icon"), root_path %>
     <%= will_paginate @external_payments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
</div>
