<div class='py-5 container-fluid bg-primary d-flex justify-content-center'>
  <h2 class="text-light">TRANSACTIONS</h2>
</div>
<div class="d-flex bg-light justify-content-between">
<spam class="px-2 py-3">Total Amount</spam>
<spam class="px-2 py-3">$<%= @sum %></spam>
</div>
<% @transactions.each do |transactions| %>
  <div class="container border border-white my-2">
    <div class="d-inline-block w-25 text-white">
     <%= image_tag('transactions.png', :class => "h-100 w-100") %>
    </div>
    <div class="d-inline-block w-50 p-2 text-white">
      <p><%= transactions.name %></p>
      <p><%= transactions.created_at %></p>
    </div>
    <div class="d-inline-block text-white">
     <p>$<%= transactions.amount %></p>
    </div>
    <br>
    <%= link_to 'Add To A Group --->', add_transaction_path(id: transactions.id), class: "text-white text-decoration-none" %>
  </div>
<% end %>
<div class="bg-success py-4 d-flex justify-content-center">
  <%= link_to 'Create Transaction', create_transaction_path, class: "text-white text-decoration-none border border-white py-3 px-5" %>
</div>
